[hiqlite]
node_id = ${HIQLITE_NODE_ID}
data_dir = "/data/hiqlite"
secret_raft = "SuperSecureSecret1337ForRaft"
secret_api = "SuperSecureSecret1337ForAPI"
enc_keys = ["bVCyTsGaggVy5yqQ/UzluN29DZW41M3hTSkx6Y3NtZmRuQkR2TnJxUTYzcjQ="]
enc_key_active = "bVCyTsGaggVy5yqQ"

# Raft cluster members
nodes = [
    "1 192.168.100.11:9000 192.168.100.11:9001",
    "2 192.168.100.12:9000 192.168.100.12:9001",
    "3 192.168.100.13:9000 192.168.100.13:9001",
]

listen_addr_api = "${HIQLITE_ADDR_API}"
listen_addr_raft = "${HIQLITE_ADDR_RAFT}"
